body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Julius Sans One', sans-serif;
}

main {
    flex: 1 0 auto;
}

header,
main,
footer {
    padding-left: 300px;
}

.contact-img {
    height: 3%;
    width: 3%;
}

@media only screen and (max-width : 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }
}


@media screen and (max-width: 640px) {
    .my-name {
        width: 65%;
        align-content: center;
    }

    .contact-img {
        height: 9%;
        width: 9%;
        margin-left: 3%;
    }
}

@media screen and (max-width: 360px) {
    .my-name {
        width: 67%;
        align-content: right;
    }

    .contact-img {
        height: 9%;
        width: 9%;
        margin-left: 3%;
    }
} 

