body {
    width: 100%;
    background: url("../images/funky-lines.png");
    margin: 0;
}

header {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    background-color: #ffffff;
    border-bottom: #cccccc solid 1px;
    margin: auto;
    width: auto;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    padding: 20px;
    border: 0;
    float: left;
    margin: 0 0 0 25%;
}

h2 {
    color: #777777;
    padding: 0px 0px 20px 0px;
    border-bottom: 2px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.float {
    float: left;
}

.float::after {
    display: block;
    content: "";
    clear: both;
}

h5 {
    background-color: #4aaaa5;
    color: white;
    font-size: 11pt;
    text-align: center;
    position: relative;
    top: 110px;
    left: -175px;
    display: inline;
}

p {
    color: #777777;
    line-height: 20pt;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.form {
    color: #777777;
    padding: 0;
    line-height: 0pt;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.contact-btn {
    color: #666666;
    float: right;
    padding: 0px 10px 0px 10px;
    margin-right: 25%;
    margin-top: 25px;
    position: relative;
}

.portfolio-btn {
    color: #666666;
    float: right;
    padding: 0px 10px 0px 10px;
    margin-top: 25px;
    border-right: #eeeeee solid 1px;
    border-left: #eeeeee solid 1px;
    position: relative;
}

a {
    text-decoration: none;
    color: #4aaaa5;
}

.links {
    color: white;
}

.about-btn {
    color: #666666;
    float: right;
    padding: 0px 10px 0px 10px;
    margin-top: 25px;
    position: relative;
}

.menu-bar::after {
    display: block;
    content: "";
    clear: both;
}

img {
    height: 150px;
    width: 160px;
    float: left;
    margin-right: 15px;
    margin-bottom: 5%;
}

.content-width {
    max-width: 960px;
    box-align: center;
    margin: 3% 25% 10% 25%;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    padding: 0px 20px 20px 20px;
}

input {
    width: 96.4%;
    display: inline-block;
    padding: 7px;
    margin: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border: 1px solid #dddddd;
}

textarea {
    width: 98%;
    height: 150px;
    border: 1px solid #dddddd;
}

button {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #4aaaa5;
    color: white;
    padding: 5px 20px 5px 20px;
}

.hangman {
    float: left;
    margin-bottom: 30px;
    z-index: 1;
}

.rpg {
    float: left;
    margin-bottom: 30px;
    z-index: 1;
}

.trivia {
    float: left;
    margin-bottom: 30px;
    z-index: 1;
}

.rutgers {
    float: left;
    margin-bottom: 30px;
    z-index: 1;
}

.rock{
    float: left;
    margin-bottom: 30px;
    z-index: 1;
}

.wrap::after{
    clear: both;
    content: "";
    display: block;
}

.wrap2::after{
    clear: both;
    content: "";
    display: block;
}

.wrap3::after{
    clear: both;
    content: "";
    display: block;
}

#Hangman {
    background-color: #4aaaa5;
    color: white;
    top: 105px;
    padding: 10px 36px 10px 36px;
}
#RPG {
    background-color: #4aaaa5;
    color: white;
    top: 105px;
    padding: 10px 26px 10px 27px;
}

#Trivia {
    background-color: #4aaaa5;
    color: white;
    padding: 10px 41px 10px 40px;
    text-align: center;
}

#Rutgers {
    background-color: #4aaaa5;
    color: white;
    top: 105px;
    padding: 10px 54px 10px 53px;
}

#Rock{
    background-color: #4aaaa5;
    color: white;
    top: 105px;
    padding: 10px 30px 10px 29px;
}

.content-width::after{
    clear: both;
    content: "";
    display: block;
}

footer {
    background-color: #666666;
    color: white;
    text-align: center;
    margin-top: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    font-size: 8pt;
    border-top: 5px solid #4aaaa5;
}

@media (max-width: 980px) {
    body {
        width: 100%;
    }
    
    h1 {
        margin: 0 0 0 3%;
        text-align: left;
        padding: 10 0 10 0;
        float: left;
    }

    .buttons {
        background-color: #ffffff;
        text-align: right;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .content-width {
       width: 60%;
       margin: 2%;
    }
    
    img {
        width: 35%;
        height: 10%;
    }

    h5{
        left: -120px;
        padding: 0;
    }
}

@media (max-width: 768px) {
    body {
        width: 100%;
    }
    
    h1 {
        margin: 0 0 0 3%;
        text-align: left;
        padding: 10 0 10 0;
        float: left;
    }

    .buttons {
        background-color: #ffffff;
        text-align: right;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .content-width {
       width: 85%;
       margin: 2%;
    }
    
    img {
        width: 35%;
        height: 10%;
    }

    h5 {
        top: 70px;
        left: -120px;
        width: 3%;
        padding: 0;
    }

}

@media screen and (max-width: 640px) {
    body {
        width: 100%;
    }
    
    h1 {
        margin: 0;
        text-align: center;
        width: 90%;
        padding: 10 0 10 0;
        float: left;
    }

    .buttons {
        background-color: #ffffff;
        float: left;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0 0 10px 0px;
    }

    .content-width {
       width: 85%;
       margin: 2%;
    }
    
    img {
        width: 100%;
        height: 25%;
        margin: 2%
    }

}